body{
    font-family:"Poppin",sans-serif;
   
}


.imgsize
{
    width: 180px;
    height: 190px;
}
.text-align
{
    text-align: center;
}
#btn
{
    width: 100px;
     border-radius:10px ;
}

.btn-file
{
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right; 
    filter: alpha(opacity=0);
    opacity: 0;
    background: rgb(215, 227, 225);
    color: #e0f2f2;
    outline: none;
     cursor: pointer;
}